.wrapper {
  margin: 0px 0px 0px 40px;
  position: relative;
  display: flex;
  min-width: 100px;
}
.search-icon {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 14px;
}

.clear-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 10px;
  cursor: pointer;
}
.search {
  border: 1px solid grey;
  border-radius: 5px;
  height: 30px;
  width: 45%;
  padding: 2px 23px 2px 35px;
  outline: 0;
  background-color: #f5f5f5;
}
.search:hover,
.search:focus {
  border: 1.5px solid lightsteelblue;
  background-color: white;
}
@media only screen and (max-width: 600px) {
  .wrapper {
    margin: 20px 0px 0px 0px;
    position: relative;
    display: flex;
    justify-content: center;
  }
  .search-icon {
    position: absolute;
    top: 8px;
    left: 16px;
    width: 14px;
  }
  .search {
    width: 100%;
  }
}
